---
layout: default
---
<style>
.navbar {
	margin-bottom:0;
}
.featurette-divider {
  border-color: #383838;
}
.featurette {
	/*padding: 0px 15px;*/
}
.featurette-heading {
  color: #fff;
	margin: 0;
}
a div.featurette p.lead {
	color: #999;
}
a .featurette:hover h3 span.text-muted {
	color: #940b10;
}
ul.segundo li a, ul.segundo li a:hover {
	color: #fff;
	font-size: larger;
	/*font-weight: 900;*/
}
</style>
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
	<ol class="carousel-indicators">

		{% assign s = 0 %}
		{% for slide in site.data.carousel %}
			<li data-target="#carouselExampleIndicators" data-slide-to="{{ s }}"></li>
			{% assign s = s | plus: 1 %}
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		{% assign a = 1 %}
		{% for slide in site.data.carousel %}
		{% if a == 1 %}

		<div class="carousel-item active">
			<a href="{{ slide.href }}">
			{% assign a = 0 %}
			{% else %}
				<div class="carousel-item">
					<a href="{{ slide.href }}">
					{% endif %}
			<img class="d-block w-100 img-fluid" src="/img/carousel/{{ slide.image }}" alt="{{ slide.title }}"></a>
			<div class="carousel-caption d-none d-md-block">
    <h5>{{ slide.title }}</h5>
    <p></p>

  </div>
		</div>
			{% assign a = 0 %}
		{% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	</div>
<div class="container-fluid">
<ul class="nav segundo justify-content-center">
	<li class="nav item">
		<a class="nav-link" href="/visual-art/">Visual Art</a>
	</li>
	<li class="nav item">
		<a class="nav-link" href="/visual-art/mural-gallery">Murals</a>
	</li>
	<li class="nav item">
		<a class="nav-link" href="/projects/">Projects</a>
	</li>
	<li class="nav item">
		<a class="nav-link" href="/custom-signs/">Custom Signs</a>
	</li>
</ul>
  <!-- START THE FEATURETTES -->
		<hr class="featurette-divider">
	<h2 class="featurette-heading">Recent Projects</h2>
	<!-- <hr class="featurette-divider"> -->
	<div class="row featurette">
		<div class="col-sm-6 col-md-6">
			<iframe src="https://player.vimeo.com/video/291612005" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="col-sm-6 col-md-6">
			<h2 class="featurette-heading">"Uncle Jim and the Black Crows"</h2>
			<h3><span class="text-muted">time lapse video</span></h3>
			<p class="lead">This mural is painted in the Sideways Lounge located in Buellton, California. The central figure depicts Jim Wales Miller, aka 'Uncle Jim', a legendary stagecoach driver from the 1800s. Check out the time lapse of its creation.</p>
		</div>

	</div>
  <hr class="featurette-divider">
	<a href="{{ "/projects/grand-lake-lodge-rocky-mtn-national-park-co/" | relative_url }}">
	<div class="row featurette">
		<div class="col-sm-5 order-sm-12">
				<img class="featurette-image img-fluid" src="{{ "/img/grand-lake-lodge-recent-projects.jpg" | relative_url }}" width="500" alt="Grand Lake Lodge painting Osprey mural" title="Grand Lake Lodge painting Osprey mural">
		</div>
    <div class="col-sm-7 order-sm-1">
				<h2 class="featurette-heading">Grand Lake Lodge -project</h2>
				<p class="lead">Grand Lake, CO</p>
      	<h3><span class="text-muted">image gallery</span></h3>
			<p class="lead">Grand Lakes Lodge is a nationally recognized historical building, located in the Rocky Mountain National Park, in Grand Lake, CO. Our work there included; painting five murals, the curation of a permanent display of historical photographs, design support, color consulting and overseeing the clean up, repair and installation of a large collection of taxidermy.</p>
    </div>
  </div></a>
  <hr class="featurette-divider">
  <div class="row featurette">
		<div class="col-sm-6 col-md-6">
			<iframe src="https://player.vimeo.com/video/226059872" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="col-sm-6 col-md-6">
			<h2 class="featurette-heading">"What a Wonderful World"</h2>
			<h3><span class="text-muted">time lapse video</span></h3>
			<p class="lead">Created for the Sideways Inn located in Buellton, California. The mural celebrates the music of Louis Armstrong and his song titled &quot;What a Wonderful World.&quot; Check out the timelapse video of its creation.</p>
		</div>
			</div>
	<hr class="featurette-divider">
		<a href="{{ "/visual-art/mural-gallery/ode-to-arches-national-park-moab-utah/" | relative_url }}">
  <div class="row featurette">
		<div class="col-sm-5 order-sm-12">
				<img class="featurette-image img-fluid" src="{{ "/img/recent-project-th.jpg" | relative_url }}" alt="Ode to Arches National Park Mural" title="Ode to Arches National Park Mural">
		</div>
    <div class="col-sm-7 order-sm-1">
			<h2 class="featurette-heading">"Ode to Arches"</h2>
			<h3><span class="text-muted">image gallery</span></h3>
      <p class="lead">Created for Canyonlands RV Resort located in Moab, Utah. The mural is a tribute to many of the scenic wonders that are in Arches National Park.</p>
    </div>

  </div></a>
	<hr class="featurette-divider">

</div>

  <!-- /END THE FEATURETTES -->
